/*============================
blog css
============================= */
.blog-area .single-blog {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
  box-shadow: 0px 0px 61px rgba(229, 229, 229, 0.35);
}

.blog-area .single-blog:hover {
  -webkit-box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.7);
  box-shadow: 0px 15px 61px rgba(229, 229, 229, 0.7);
}

.blog-area .single-blog:hover .blog-img a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.blog-area .single-blog .blog-img {
  overflow: hidden;
}

.blog-area .single-blog .blog-img a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.blog-area .single-blog .blog-content {
  padding: 30px 25px;
}

.blog-area .single-blog .blog-content h4 a {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-area .single-blog .blog-content h4 a:hover {
  color: #F2A92C;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 18px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .blog-area .single-blog .blog-content h4 a {
    font-size: 20px;
    line-height: 28px;
  }
}
