/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #747E88;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #283747;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #747E88;
  margin: 0px;
}

.bg_cover {
  height: 200px !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.success {
  color: #7CB637;
}

.error {
  color: #FF4B22;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  padding: 17px 30px;
  margin-bottom: 20px;
  color: #868AAA;
  -webkit-box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  box-shadow: 0px 0px 51px rgba(180, 180, 180, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:focus,
textarea:focus {
  border-color: #F2A92C;
}

.back-to-top {
  width: 45px;
  height: 45px;
  background: #F2A92C;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.back-to-top.btn-hover {
  position: fixed;
  z-index: 99999;
}

.back-to-top:hover {
  color: #fff;
}

*:focus {
  outline: none;
}
.pt-100{
  padding-top: 100px !important;
}
.page-banner{
  height: 350px;
}
.search-btn{
  height: 40px !important;
  margin-left: -40px !important;
}