
/*============================
contact css
============================= */
.contact-area {
  background: #FBFBFB;
  padding: 120px 0;
  position: relative;
  z-index: 1;
}

.contact-area .map-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  text-align: center;
  z-index: -1;
}

.contact-area .contact-content h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 35px;
}

.contact-area .contact-content p {
  margin-bottom: 35px;
  padding-right: 30px;
}

.contact-area .contact-content h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-area .contact-content h4 a {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-area .contact-form-wrapper form input, .contact-area .contact-form-wrapper form textarea {
  padding: 16px 20px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #747E88;
}

.contact-area .contact-form-wrapper form input::-webkit-input-placeholder, .contact-area .contact-form-wrapper form textarea::-webkit-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input:-ms-input-placeholder, .contact-area .contact-form-wrapper form textarea:-ms-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input::-ms-input-placeholder, .contact-area .contact-form-wrapper form textarea::-ms-input-placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input::placeholder, .contact-area .contact-form-wrapper form textarea::placeholder {
  opacity: 1;
}

.contact-area .contact-form-wrapper form input:focus, .contact-area .contact-form-wrapper form textarea:focus {
  border-color: #F2A92C;
}

.contact-area .contact-form-wrapper form button {
  padding: 16px 40px;
  border-radius: 5px;
  background: #F2A92C;
  color: #fff;
}

.page-banner {
  position: relative;
  z-index: 1;
}

.page-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.page-banner .banner-content .breadcrumb {
  background: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-banner .banner-content .breadcrumb li {
  color: #F2A92C;
}

.page-banner .banner-content .breadcrumb li::before {
  color: #fff;
}

.page-banner .banner-content .breadcrumb li a {
  color: #fff;
}

.page-banner .banner-content .breadcrumb li a:hover {
  color: #F2A92C;
}